@import '../../../styles/variables';

.navbar {
  background-color: #eee;
  padding: 11px 0;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: $main-width;
  }
}
