.cart-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;

  .badge {
    background-color: #ffc800;
    padding: 3px 8px;
    border-radius: 15px;
    margin-left: 4px;
  }
}
